# Dependency directories
node_modules/

# Environment variables
.env

# Log files
logs/
*.log

# IDE files
.idea/
.vscode/

# Compiled output
dist/
*.pem

# Dependency lock files
package-lock.json
yarn.lock

# Firebase service account key file
serviceaccountkey.json
